## BUILT-IN FUNCTIONS de python

disponible à l'adresse : **docs.python.org/3/library/function.html**

**Les plus importantes en datascience, deep learning et machine learning**

- *abs()*, *all()*, *input()*
- *any()*, *bin()*, *int()*
- *dict()*, *float()*, *list()*
- *format()*, *hex()*, *open()*
- *max()*, *min()*, *oct()*
- *round()*, *str()*, *sum()*
- *tuple()*, *type()*

In [1]:
x = -3.14
print(abs(x))
print(round(x))

3.14
-3

In [2]:
liste = [ 4, 8, -5, 6, 9]
print(sum(liste))

22

In [3]:
print(max(liste))

9

In [4]:
print(min(liste))

-5

In [6]:
print(all(liste))
print(any(liste))

True
True

**all()** retourne **True** si tous les éléments de la liste sont différents de 0 ou sont égales à True si ce sont des variables de type booléen.

**any()** retourne **True** si au moins un élément de la liste est différent 0 ou égale à True

In [13]:
x = input('entrer un nombre ')

entrer un nombre 5

In [14]:
type(x)

str

In [15]:
x = x*2
x

'55'

In [16]:
x = int(input('entrer un nombre '))

x = x*2
x

entrer un nombre 5

10

In [17]:
x = 25
ville = 'Dschang'
message = "La température est de {}°C à {}".format(x, ville)
print(message)

La température est de 25°C à Dschang

In [18]:
x = 25
ville = 'Dschang'
message = f'La température est de {x}°C à {ville}'
print(message)

La température est de 25°C à Dschang

In [21]:
file = open('fichier.txt','w')
file.write('bonjour')
file.close()

In [22]:
file = open('fichier.txt', 'r')
print(file.read())
file.close()

bonjour

In [45]:
with open("fichier.txt", "w") as f:
    for i in range(10):
        f.write("{}^2:{}\n".format(i, i**2))

In [46]:
with open('prenom.txt', "w") as f:
    f.write('Cynthia\n')
    f.write('Lynn\n')
    f.write('Suzie\n')
    f.write('Astrid\n')

In [47]:
with open('villes.txt', 'w') as f:
    f.write('Dschang\n')
    f.write("Bafoussam\n")
    f.write("Yaounde\n")
    f.write("Douala\n")

## EXERCICE

Ecrire une fonction qui va lire le fichier écrit précédemment et insérer toutes les lignes dans une liste

In [48]:
with open('fichier.txt', 'r') as file:
    x = []
    x.append(file.read())
    print(x)
    print(len(x))

['0^2:0\n1^2:1\n2^2:4\n3^2:9\n4^2:16\n5^2:25\n6^2:36\n7^2:49\n8^2:64\n9^2:81\n']
1

**CORRECTION**

In [54]:
with open('fichier.txt', 'r') as file:
    x = file.readlines()
    
print(x)
print(len(x))

['0^2:0\n', '1^2:1\n', '2^2:4\n', '3^2:9\n', '4^2:16\n', '5^2:25\n', '6^2:36\n', '7^2:49\n', '8^2:64\n', '9^2:81\n']
10

In [50]:
with open('fichier.txt', 'r') as file:
    x = file.read().splitlines()
    
x

['0^2:0',
 '1^2:1',
 '2^2:4',
 '3^2:9',
 '4^2:16',
 '5^2:25',
 '6^2:36',
 '7^2:49',
 '8^2:64',
 '9^2:81']

In [51]:
print(len(x))

10

In [52]:
x = [line for line in open('prenom.txt', 'r')]
x

['Cynthia\n', 'Lynn\n', 'Suzie\n', 'Astrid\n']

In [53]:
x = [line.strip() for line in open('prenom.txt', 'r')]
x

['Cynthia', 'Lynn', 'Suzie', 'Astrid']